@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header { @apply text-center my-6 flex-1 flex-col ; }
}
:root {
  font-family: "Times New Roman",Times,Arial,Inter,system-ui,sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
}
@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .print:hidden {
    display: none !important;
  }

  .print:block {
    display: block !important;
  }
}

